<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="container-header">
            <form>
                <img href="/home" class="logo" src="./images/logo-mercado-liebre.svg" alt="Logo">
                <div class="container-header-searchbar">
                    <label for="search"> </label>
                    <input type="search" name="search" placeholder="Buscar productos,marcas">
                    <button class="boton-buscar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <h2 class="frase-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </form>
        </div>


        <div id="container-burger-menu">
            <i class="fas fa-bars burger-menu"></i>
        </div>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/register">Crear Cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="container-form" action="/register" method="POST">
            <h2>Creación de cuenta</h2>
            <div class="form-register">
                <label>Nombre y apellido:</label>
                <input type="text" name="nombre y apellido">
            </div class="form-register">
            <div class="form-register">
                <label>Nombre de usuario:</label>
                <input type="text" name="nombre de usuario">
            </div>
            <div class="form-register">
                <label for="fecha">Fecha de nacimiento:</label>
                <input type="date" id="fecha" name="fecha-nacimiento" value="">
            </div>
            <div class="form-register">
                <label for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" value="">
            </div>
            <div class="form-register">
                <label for="domicilio">Comprador</label>
                <input type="radio" name="comprador-vendedor" value="Comprador">
                <label for="domicilio">Vendedor</label>
                <input type="radio" name="comprador-vendedor" value="Vendedor">
            </div>
            <div class="form-register">
                <label for="categorias">Categorías:</label>
                <br>
                <label><input type="checkbox" name="categorias" value="Electro">Electro:</label>
                <br>
                <label><input type="checkbox" name="categorias" value="Moda">Moda:</label>
                <br>
                <label><input type="checkbox" name="categorias" value="Hogar">Hogar:</label>
                <br>
                <label><input type="checkbox" name="categorias" value="Jugueteria">Jugueteria:</label>
                <br>
                <label><input type="checkbox" name="categorias" value="Vida sana">Vida sana:</label>
            </div>
            <div class="form-register">
                <label>Fotos usuario</label>
                <input type="file" name="usuario-fotos" accept=".jpg">
            </div>
            <div class="form-register">
                <label for="password">Contraseña:</label>
                <input type="password" name="password">
            </div>
            <div class="form-register">
                <label for="password2">Confirmar contraseña</label>
                <input type="password" name="password2">
            </div>
            <div class="form-register">
                <input type="submit" value="Enviar">
            </div>
            <div class="form-register">
                <input type="reset" value="Borrar">
            </div>
        </form>
    </main>
    <footer>
        <section>
            <div class="footer">
                <div class="footer-item">
                    <i class="fa-solid fa-credit-card"></i>
                    <h5>Paga con tarjeta o con efectivo </h5>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="footer-item">
                    <i class="fa-solid fa-gift"></i>
                    <h5> Envío gratis desde $ 2.500</h5>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="footer-item">
                    <i class="fa-solid fa-user-shield"></i>
                    <h5> Seguridad de principio a fin</h5>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </div>
            <div>
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </div>
        </section>
    </footer>
</body>
</html>